<div class="content">
  <h2>Role Management</h2>

  <!-- Toggle Buttons for Viewing and Adding Roles -->
  <div class="toggle-buttons">
    <button [class.active]="viewMode === 'view'" (click)="showViewRoles()">View Roles</button>
    <button [class.active]="viewMode === 'add'" (click)="showAddRoleForm()">Add New Role</button>
  </div>
  <div *ngIf="viewMode === 'view'" class="table-section">
    <h3>Existing Roles</h3>
    <table mat-table [dataSource]="paginatedRoles">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Role Name </th>
        <td mat-cell *matCellDef="let role"> {{ role.name }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let role"> {{ role.description }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let role">
          <button class="edit-button" (click)="editRole(role)">Edit</button>
          <button class="delete-button" (click)="confirmDeleteRole(role.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginator Component -->
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>

<!-- Form to Add/Edit Role -->
<div class="form-section" *ngIf="viewMode === 'add' || viewMode === 'edit'">
  <h3>{{ viewMode === 'add' ? 'Add New Role' : 'Edit Role' }}</h3>
  <form (ngSubmit)="viewMode === 'add' ? createRole() : updateRole()">
    <label for="roleName">Role Name:</label>
    <input id="roleName" [(ngModel)]="newRole.name" name="roleName" required>

    <label for="roleDescription">Description:</label>
    <input id="roleDescription" [(ngModel)]="newRole.description" name="roleDescription" required>

    <h4>Assign Permissions</h4>
    <div class="permissions-section">
      <label *ngFor="let permission of permissions" class="permission-checkbox">
        <input type="checkbox" [(ngModel)]="permission.selected" name="permission{{permission.name}}">
        {{ permission.name }}
      </label>
    </div>

    <button type="submit" class="submit-button">{{ viewMode === 'add' ? 'Add Role' : 'Update Role' }}</button>
    <button type="button" class="cancel-button" (click)="showViewRoles()">Cancel</button>
  </form>
</div>


</div>
